@model ApprenticeTips.App.Models.Interest.IndexViewModel
@{
    ViewData["Title"] = "Register Interest";
}

<div id="data-entry">
    <h5>Please enter your details and we'll be in touch</h5>

    <div class="row">
        <div class="col-4">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="col-6">
            @Html.EditorFor(model => model.FirstName)
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="col-6">
            @Html.EditorFor(model => model.Surname)
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col-6">
            @Html.EditorFor(model => model.Email)
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="col-6">
            @Html.EditorFor(model => model.PhoneNumber, new { @type = "number" })
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            @Html.LabelFor(model => model.PreviousQualificationLevels)
        </div>
        <div class="col-6">
            @Html.DropDownListFor(model => model.PreviousQualificationsLevel,
                              new SelectList(Model.PreviousQualificationLevels,
                              "Level",
                              "Name",
                              0))
        </div>
    </div>

    <div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Agriculture);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Agriculture)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Business);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Business)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Care);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Care)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Catering);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Catering)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Construction);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Construction)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Creative);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Creative)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Digital);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Digital)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Education);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Education)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Engineering);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Engineering)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Hair);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Hair)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Health);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Health)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Legal);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Legal)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Protective);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Protective)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Sales);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Sales)
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.Transport);
            </div>
            <div class="col-1">
                @Html.EditorFor(x => x.Transport)
            </div>
        </div>
    </div>

    <div>
        @Html.TextAreaFor(x => x.Comments,
                          new { cols = 75, rows = 5 })
    </div>

    <div class="alert alert-danger" role="alert" id="error-alert" style="display:none"></div>

    <button type="button" class="btn btn-primary" onclick="OnSubmitPressed()">Submit</button>
</div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="~/js/express-interest.js"></script>
}