@model ApprenticeTips.App.Models.Interest.IndexViewModel
@{
    ViewData["Title"] = "Register Interest";
}

<div id="data-entry">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col text-center">
            <h5>Please enter your details and we'll be in touch</h5>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="col">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "max-width" })
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="col">
            @Html.TextBoxFor(model => model.Surname, new { @class = "max-width" })
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col">
            @Html.TextBoxFor(model => model.Email, new { @class = "max-width" })
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="col">
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "max-width" })
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col">
            @Html.LabelFor(model => model.PreviousQualificationLevels)
        </div>
        <div class="col">
            @Html.DropDownListFor(model => model.PreviousQualificationsLevel,
                              new SelectList(Model.PreviousQualificationLevels,
                              "Level",
                              "Name",
                              0),
                              new { @class = "max-width" })
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Agriculture)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Agriculture)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Business)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Business)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Care)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Care)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Catering)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Catering)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Construction)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Construction)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Creative)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Creative)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Digital)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Digital)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Education)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Education)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Engineering)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Engineering)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Hair)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Hair)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Health)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Health)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Legal)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Legal)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Protective)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Protective)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Sales)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Sales)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-3 col-md-3 col-sm-3">
                @Html.LabelFor(x => x.Transport)
            </div>
            <div class="col text-right">
                @Html.CheckBoxFor(x => x.Transport)
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col top-padding">
            @Html.TextAreaFor(x => x.Comments,
                                   new
                                   {
                                       @class = "max-width",
                                       @rows = 4,
                                       @placeholder = "Please provide any other information that you wish to let our recruiters know…"
                                    })
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col top-padding">
            <div class="alert alert-danger hidden" role="alert" id="error-alert"></div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col top-padding">
            <button type="button" class="btn btn-primary" onclick="OnSubmitPressed()">Submit</button>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="~/js/express-interest.js"></script>
}